<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="{{ site.author }}"/>
    <link href="/assets/css/dyc.css" rel="stylesheet" type="text/css">
    <link href="/assets/js/google-code-prettify/prettify.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Dosis:500|Inconsolata" rel="stylesheet" type="text/css">
    <script src="/assets/js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript">
        window.addEventListener("scroll", function (e) {
            var header = document.getElementById("header");
            var nav = document.getElementById("nav");
            var y = window.pageYOffset;
            var y0 = nav.offsetHeight;
            var y1 = header.offsetHeight;
            var s = header.style;

            if (y < y0) {
                s.top = "0px";
            } else if (y < y0 + y1) {
                s.top = (y0 - y) + "px";
            } else {
                s.top = (-y1) + "px";
            }
        });
    </script>
</head>
<body onload="prettyPrint()">
    <header id="header">
        <div class="header-title">
            <p><a class="header-h1" href="/">nerd's laboratory</a>
        </div>
    </header>
    <nav id="nav"><div class="nav-body">
            <a href="/archive/">存档</a>
            <a href="/category/">分类</a>
            <a href="/tag/">标签</a>
         </div></nav>
    <div class="page-container">
    <div class="page-body">
    {{ content }}
    </div></div>
    <footer>CopyLeft by dycforever.<br />
    </footer>
</body>
</html>
