{% for post in site.posts limit:20 %}
<a href="{{ post.url }}">
<article class="home">
    <table style="width:100%">
        <tr><td>
            <p class="art-title">{{ post.title }}
            {% for tag in post.tags %}
            <span class="tag">{{ tag }}</span>
            {% endfor %}
            </p></td>
            <td class="art-time"><time>{{ post.date | date: "%Y-%m-%d %H:%M" }}</time></td></tr>
        <tr><td colspan="2" class="art-subtitle">
            {{ post.summary }}
            </td><tr>
    </table>
</article></a>
{% endfor %}
